<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After Shortening</title>
    <link rel="stylesheet" href="/Stylesheets/styles.css" />
    <title>AfterShorteningPage</title>
</head>
<body>
    <h1>Hi, Thank you</h1>
    <h4> Your new shortened url is:  <%= message %></h4>
    <button><a href="/MainUrlPage">You Can go back to Shorten Another URL Here</a></button>
    <button><a href=" <%= message %>">You Can go visit your link here</a></button>
</body>
</html>