<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
          background-color: rgb(198, 229, 240);
        }
        
        h1 {
          color: rgb(194, 20, 20);
          text-align: center;
          margin-left: 20px;
          font-family: verdana;
          font-size: 300%;
        }

        input {
            width: 100%;
        }
      </style>
    <title>AfterShorteningPage</title>
</head>
<body>
    <h1>Hi, Thank you</h1>
    <h4> Your new shortened url is:  <%= message %></h4>
</body>
</html>