<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Stylesheets/styles.css" />
  <title>Home Page</title>
</head>

<body>
  <header>
    <div class="header-buttons">
      <button><a href="/login">Login</a></button>
      <button><a href="/signup">Register</a></button>
    </div>
  </header>
  <div></div>
    <div class=" container" stlye="background-color: white; margin: auto; padding: 20px; border-radius: 12px; width: 50%;">
    <h1>TinyGate v2.0</h1>
    <form action="/shortUrls" method="POST" >
      <input required placeholder="Paste your long URL here..." type="url" id="longURL" name="longURL"/>
      <input  placeholder="* Optional * Write Custom URL" id="CustomShortUrl" name="CustomShortUrl" />
      <button type="submit">Shorten </button>
    </form>
      </div>
      <div></div>
</body>

</html>