<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheets/styles.css" />
    <title>Page Already Exists</title>
</head>
<body>
    <h1> Page Already Exists</h1>
    <h4> You Can visit it at this Link: </h4>
    <button><a href="/MainUrlPage">You Can go back to Shorten Another URL Here</a></button>
</body>
</html>