<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
          background-color: rgb(198, 229, 240);
        }
        
        h1 {
          color: rgb(194, 20, 20);
          text-align: center;
          margin-left: 20px;
          font-family: verdana;
          font-size: 300%;
        }
      </style>
    <title>URLNotFoundPage</title>
</head>
<body>
    <h1>URL  NOT FOUND</h1>
</body>
</html>